<template name="conexoesView">
	{{#contentFor "headerButtonLeft"}}
		{{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		<a class="button button-clear" id="acoes-conexao">
			{{> ionIcon icon='plus'}}
		</a>
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<a class="button button-clear" id="configurar-radar">
			{{> ionIcon icon='ios-settings-strong'}}
		</a>
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<h1 class="title">Contato</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			{{#with outroUsuario}}  	  			
				{{>userHeader}}
				<!--{{>nossasFotos}}-->


				<div class="row">
					<div class="col col-50">
						<button class="button button-positive button-block button-outline" id="compartilhar-mais">
							{{> ionIcon icon="android-share-alt"}} Contato ({{countPerfis}})
						</button>	
					</div>
					<div class="col col-50">
						<a class="button button-balanced button-block button-outline" 
						href="{{pathFor 'fotos.publicas'}}?com={{_id}}">
							{{> ionIcon icon="ios-camera-outline"}} Nossas Fotos
						</a>		
					</div>
				</div>	  	

				<div class="list">
					{{#if compartilharMais}}
						<div class="item item-divider">
							Compartilhar Perfis
						</div>					
						<div class="item" style="padding:0px">
							{{> selecionarPerfis}}
						</div>
					{{/if}}
					<div class="item item-divider">
						Perfis compartilhados com você
					</div>		  	  
					<div class="item" style="padding:0px">
						{{#with ..}}
						{{> perfisRecebidos}}
						{{/with}}
					</div>		
					<div class="item item-divider" style="text-align:left;">
						Informações pessoais
					</div>		
					<a class="item" href="#">
						Email
						<span  class="item-note">{{email}}</span>
					</a>
					<a class="item" href="#">
						Celular
						<span class="item-note">{{profile.celular}}</span>
					</a>	 
					<a class="item" href="#">
						Aniversário
						<span class="item-note">{{profile.nascimento}}</span>
					</a>		  
					<a class="item" href="#">
						Conexões
						<span class="item-note"><b>{{conexoes.count}}</b></span>
					</a>		   	  
				</div>
			{{/with}}	  	
		{{/ionContent}}
	{{/ionView}}
</template>