<template name="conexoesView">
	{{#contentFor "headerButtonLeft"}}
	{{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
	<a class="button button-clear" id="acoes-conexao">
	{{> ionIcon icon='plus'}}
	</a>
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	<a class="button button-clear" id="configurar-radar">
		{{> ionIcon icon='ios-settings-strong'}}
	</a>
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	<h1 class="title">Contato</h1>
	{{/contentFor}}

	{{#ionView}}
	{{#ionContent}}

	{{#with outroUsuario}}  	  			
	{{>userHeader}}
	{{/with}}

	{{>nossasFotos}}

	<div class="row">
		<div class="col">
			<button class="button button-outline button-balanced button-block" data-dismiss="modal">
			  {{> ionIcon icon="ios-chatbubble-outline"}} Chat
			</button>
		</div>
		<div class="col">
			<button class="button button-outline button-positive button-block" id="conectar">
			  {{> ionIcon icon="android-share-alt"}} Compartilhar
			</button>			
		</div>
	</div>

	<div class="list">
		<div class="item item-divider">
			Perfis de <b>Marcelo</b>
		</div>		  	  
		<div class="item" style="padding:0px">
			{{> perfisRecebidos}}
		</div>		
		<div class="item item-divider" style="text-align:left;">
			Informações pessoais
		</div>		
	  <a class="item" href="#">
	   Email
	   	<span  class="item-note">marcelo@marcelo.com</span>
	  </a>
	  <a class="item" href="#">
	    Celular
	   	<span class="item-note"><i>(11)</i> 95210 - 9350</span>
	  </a>	 
	  <a class="item" href="#">
	    Aniversário
	   	<span class="item-note">13/06/1993</span>
	  </a>		  
	  <a class="item" href="#">
	    Conexões
	   	<span class="item-note"><b>67</b></span>
	  </a>		   	  
	  
	</div>	  	
	{{/ionContent}}
	{{/ionView}}
</template>