<template name="home">
	{{#contentFor "headerButtonLeft"}}
		<a class="button pull-left button-clear" href="{{pathFor 'user.index'}}">
			
	  			{{> ionIcon icon='person'}}
			
	 	</a>	
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}

		<a class="button pull-right button-clear" href="{{pathFor 'configuracoes.index'}}">
	  		{{> ionIcon icon='gear-b'}}
	 	</a>
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	  <h1 class="title title-center">Shact</h1>
	{{/contentFor}}

	{{#contentFor "tabs"}}
	    {{>tabs}}
	{{/contentFor}}

	
	{{#ionView}}
	  {{#ionContent}}
    	<div class="selecionar-modo">
	        <div class="swiper-wrapper">
	        	<div class="swiper-slide animated tada">{{> ionIcon icon="camera" class="busca-selfie"}}</div>
				<div class="swiper-slide">{{> ionIcon icon="ios-location" class="busca-geo"}}</div>
	            <!--<div class="swiper-slide">{{> ionIcon icon="ios-telephone" class="busca-telefone"}}</div>-->
	        </div>

	         <div class="swiper-pagination"></div>
	    </div>
	  {{/ionContent}}
	{{/ionView}}
</template>

