<template name="tabs">
  {{#if isAndroid}}
    {{#ionTabs style="android" class="tabs-icon-only tabs-background-positive tabs-color-light"}}
      {{> ionTab path="contatos.index" iconOff="ios-list-outline" iconOn="ios-list"}}
      {{> ionTab path="home" iconOff="ios-world-outline" iconOn="ios-world"}}
      {{> ionTab badgeNumber="1" path="notificacoes.index" iconOff="ios-personadd-outline" iconOn="ios-personadd"}}
    {{/ionTabs}}
  {{else}}
    
    {{#ionTabs style="ios" class="tabs-background-positive tabs-color-light tabs-icon-only"}}
      {{> ionTab path="contatos.index" iconOff="ios-people-outline" iconOn="ios-people"}}
      {{> ionTab path="home" iconOff="ios-navigate-outline" iconOn="ios-navigate"}}
      <!--{{> ionTab title="Pendentes" path="pendentes.index" iconOff="ios-personadd-outline" iconOn="ios-personadd"}}-->
      {{> ionTab path="notificacoes.index" iconOff="ios-chatbubble-outline" iconOn="ios-chatbubble"}}
      <!--badgeNumber="1"-->
    {{/ionTabs}}
    
  {{/if}}
</template>