<template name="configuracoes">

	{{#contentFor "headerButtonLeft"}}
	  {{>ionNavBackButton text="Voltar"}}
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}

	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	  <h1 class="title">Configurações</h1>
	{{/contentFor}}

	{{#ionView}}
	  {{#ionContent}}
		<div class="list">

		  <div class="item">
		    Termos de uso
		  </div>

		  <div class="item">
		    Política de privacidade
		  </div>
		</div>	  
		<div class="row">
			<div class="col col-100">
				<button id="logout" class="button button-block button-round button-assertive button-outline">
				  {{>ionIcon icon='log-out'}} Sair
				</button>
			</div>
		</div>

	  {{/ionContent}}
	{{/ionView}}

</template>