// Change Ionic's `positive` color to Meteor's red color:
$positive: #262261;
$calm: #512DA8;
$energized: #0097A7;
$dark: #212121;

//$button-border-radius: 10px;
$button-bar-button-icon-size: 28px;
$font-family-base: 'Roboto', sans-serif;
