
.imagem-com-tags{
	position:relative;
	display: inline-block;
	img{
		position:relative;
	}

	.tag{
		position:absolute;
		border: 3px solid rgba(255,255,255,0.5);
		background-color:transparent;
		-webkit-transition: border 1s;
		transform: translate(-50%,-50%);
	}		
}
