<template name="fotosView">
	{{#contentFor "headerButtonLeft"}}
	  {{>ionNavBackButton}}
	{{/contentFor}}


	{{#contentFor "headerButtonRight"}}
		<a class="button button-clear" id="toggle-tags">
			{{#if mostrarTags}}
	  		{{> ionIcon icon='ios-pricetag'}}
			{{else}}
				{{> ionIcon icon='ios-pricetag-outline'}}
			{{/if}}
	 	</a>
	{{/contentFor}}

	
	{{#contentFor "headerTitle"}}
	  <h1 class="title">Ver Foto</h1>
	{{/contentFor}}

	{{#contentFor "tabs"}}
	    
	{{/contentFor}}

	{{#ionView}}
	  {{#ionContent}}
	  	<div align="center">
			<div class="imagem-com-tags">
				<!--{{> imgFotoCover publicId=imagem.publicId id="foto-cover" onLoad=onLoad}}-->
				{{> cloudinaryImg
					publicId=imagem.publicId
					onLoad=onLoad
					width=width
					height=height
					crop='limit'
					id=id
				}}				
				{{#if $and mostrarTags loadedImage}}
					{{#each tags}}
						<div class="tag" style="
						border-color: {{borderColor}};
						border-style: {{borderStyle}};
						width:{{dimensoes.width}}%;
						height:{{dimensoes.height}}%;
						left:{{posicao.x}}%;
						top:{{posicao.y}}%;">
						</div>
					{{/each}}
				{{/if}}
			</div>
		</div>
		
		{{#if mostrarTags}}
			{{#with tagSelecionada}}
				{{#with user}}
					<div class="row">
						<div class="col" align="center">
							{{> userAvatarAdd}}
						</div>
					</div>
				{{else}}
					{{> podium candidatos=candidatos}}
				{{/with}}		
			{{/with}}
		{{/if}}
		
	  {{/ionContent}}
	{{/ionView}}
</template>