<template name="fotosView">
	{{#contentFor "headerButtonLeft"}}
	  {{>ionNavBackButton}}
	{{/contentFor}}


	{{#contentFor "headerButtonRight"}}
		<a class="button button-clear" id="toggle-tags">
			{{#if mostrarTags}}
	  		{{> ionIcon icon='ios-pricetag'}}
			{{else}}
				{{> ionIcon icon='ios-pricetag-outline'}}
			{{/if}}
	 	</a>
	{{/contentFor}}

	
	{{#contentFor "headerTitle"}}
	  <h1 class="title">Ver Foto</h1>
	{{/contentFor}}

	{{#contentFor "tabs"}}
	    
	{{/contentFor}}

	{{#ionView}}
	  {{#ionContent}}
	  	<div align="center">
			<div class="imagem-com-tags">
				{{> cloudinaryImg publicId=imagem.publicId width='' height='' gravity='' crop='' onLoad=onLoadImage sHeight='300' class='tagged-image'}}
				{{#if $and mostrarTags loadedImage}}
					{{#each tags}}
						<div class="tag" style="
						border-color: {{borderColor}};
						border-style: {{borderStyle}};
						width:{{dimensoes.width}}%;
						height:{{dimensoes.height}}%;
						left:{{posicao.x}}%;
						top:{{posicao.y}}%;">
						</div>
					{{/each}}
				{{/if}}
			</div>
		</div>
		
		{{#with tagSelecionada}}
			{{#with user}}
				<div class="row">
					<div class="col" align="center">
						{{> userAvatarAdd}}
					</div>
				</div>
			{{else}}
				{{> podium candidatos=candidatos}}
			{{/with}}		
		{{/with}}

	  {{/ionContent}}
	{{/ionView}}
</template>