<template name="selfieBusca">
	{{#contentFor "headerButtonLeft"}}
	  {{>ionNavBackButton text="Voltar"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<a class="button button-clear" id="configurar-radar">
	  		{{> ionIcon icon='ios-settings-strong'}}
	 	</a>
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	  <h1 class="title">Selfie</h1>
	{{/contentFor}}


	{{#ionView}}
	  {{#ionContent}}
			<div style="display:flex;justify-content:center;align-items:center;height:100%">
				<!--<img src='/images/shact_icon.png'>	-->
			</div>
			

			<!--
	  	<div class="camera-footer">
		  	<div class="list lista-status" style="bottom:0px;">
		  		<div class="item" align="center">
		  			{{#with statusItem}}
		  				<span class="animated jello">{{texto}}</span>
		  			{{/with}}
		  		</div>  		

		  		<div class="item" style="height:120px;text-align:center">
			  		{{#if $eq status 0 }}
						<button id="tirar-foto" class="button-camera animated rubberBand">
						</button>
			  		{{else}}
			  			{{#with statusItem}}
			  				<i class="icon {{icone}} big-icon"></i>
			  			{{/with}}
			  		{{/if}}
		  		</div>
		  	</div>
	  	</div>
	  	-->
	  {{/ionContent}}
	{{/ionView}}
</template>

