<template name="selfieBusca">
	{{#contentFor "headerButtonLeft"}}
	  {{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
		<a class="button button-clear" id="configurar-radar">
	  		{{> ionIcon icon='ios-settings-strong'}}
	 	</a>
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	  <h1 class="title">Selfie</h1>
	{{/contentFor}}


	{{#ionView}}
	  {{#ionContent}}
	  	<div class="foto-atual">
	  		<img src="{{fotoAtual}}">
	  	</div>
	  	

	  	<div class="list lista-status">
	  		<div class="item item-icon-left">
	  			{{#with statusItem}}
	  			<i class="icon {{icone}}"></i>
	  				{{texto}}
	  			{{/with}}
	  		</div>  		
	  	</div>

		<button id="tirar-foto" class="button button-full button-outline button-assertive">
		  Selfie!
		</button>

	  {{/ionContent}}
	{{/ionView}}
</template>

