<template name="pendentes">	
	{{#contentFor "headerButtonLeft"}}
		<a class="button pull-left button-clear" href="{{pathFor 'user.index'}}">
	  		{{> ionIcon icon='person'}}
	 	</a>	
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		<a class="button button-clear" href="{{pathFor 'configuracoes.index'}}">
	  		{{> ionIcon icon='gear-b'}}
	 	</a>
	{{/contentFor}}
	{{#contentFor "headerTitle"}}
	  <h1 class="title">Pendentes</h1>
	{{/contentFor}}	

	{{#contentFor "tabs"}}
	    {{>tabs}}
	{{/contentFor}}


	{{#ionView}}
	  {{#ionContent}}
		<div class="list">
			{{#each currentUser.pendentes}}
			    <a class="item item-avatar" href="#" data-ion-modal="conexoesAceitar" data-id="{{_id}}">
			    {{#with userAdicionando}}
			    	{{>userThumb publicId=avatarPublicId}} 
			    	<h2>{{profile.nomeCompleto}}</h2>
			    	<p> {{> ionIcon icon="ios-location" class="geo-marker"}} Te adicionou por geolocalização </p>
			    {{/with}}
			    </a>			
			{{/each}}
		</div>
	  {{/ionContent}}
	{{/ionView}}
</template>			 