<template name="pendentes">	
	{{#contentFor "headerButtonLeft"}}
		<a class="button pull-left button-clear" href="{{pathFor 'user.index'}}">
	  		{{> ionIcon icon='person'}}
	 	</a>	
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
		<a class="button button-clear" href="{{pathFor 'configuracoes.index'}}">
	  		{{> ionIcon icon='gear-b'}}
	 	</a>
	{{/contentFor}}
	{{#contentFor "headerTitle"}}
	  <h1 class="title">Pendentes</h1>
	{{/contentFor}}	

	{{#contentFor "tabs"}}
	    {{>tabs}}
	{{/contentFor}}

	{{#ionView}}
	
	  
	  {{#ionContent}}
		<div class="list">
			{{#each pendentes}}
			    <a class="item item-avatar" href="#" data-ion-modal="conexoesAceitar" data-id="{{getConexao _id}}">
			    	{{>userThumb publicId=avatarPublicId}}
			    	<h2>{{profile.nomeCompleto}}</h2>
			    	<p>Conectou-se com você!</p>
			    </a>
			{{/each}}			
		</div>
	  {{/ionContent}}
	{{/ionView}}
</template>			 


<template name="pendentesBackup">
	<div class="list">
		{{#each pendentes}}
		    <a class="item item-avatar" href="#" data-ion-modal="conexoesAceitar" data-id="{{getConexao _id}}">
		    	{{>userThumb publicId=avatarPublicId}}
		    	<h2>{{profile.nomeCompleto}}</h2>
		    	<p>Conectou-se com você!</p>
		    </a>
		{{/each}}			
	</div>
</template>