<template name="cloudinaryImg">
	{{#if publicId}}
		{{#if loadingImg}}
			<div style="width:{{width}}px; height:{{height}}px; line-height:{{height}}px;" class="loading-block">
				<i class="fa fa-spinner fa-spin"></i>
			</div>
		{{/if}}
		
		<img src="{{c.url publicId width=width height=height crop=crop gravity=gravity}}" 
			class="cloudinary-image {{class}}" 
			style="{{#if loadingImg}}visibility:hidden; display:none;{{/if}}" 
			onerror="this.style.display='none';"
			id="{{id}}">
		
	
	{{else}}
		<img src="{{notFoundImage}}" 
			class="{{class}}" 
			style="width:{{width}}px; height:{{height}}px;">
	{{/if}}
</template>




<template name="imgUserPortrait">
	{{> cloudinaryImg
		publicId=publicId
		width=140
		height=140
		crop='thumb'
		gravity='face'
		class='user-portrait'
		notFoundImage='/images/unknown.png'
	}}
</template>

<template name="imgUserAvatar">
	{{> cloudinaryImg
		publicId=publicId
		width=120
		height=120
		crop='thumb'
		gravity='face'
		class='user-avatar'
		notFoundImage='/images/unknown.png'
	}}
</template>

<template name="imgUserThumb">
	{{> cloudinaryImg
		publicId=publicId
		width=80
		height=80
		crop='thumb'
		gravity='face'
		notFoundImage='/images/unknown.png'
	}}
</template>

<template name="imgFotoCover">
	{{> cloudinaryImg
		publicId=publicId
		onLoad=onLoad
		width=width
		height=height
		crop='limit'
		notFoundImage='/images/not_found.png'
		id=id
		
	}}
</template>

<template name="imgFotoThumb">
	{{> cloudinaryImg
		publicId=publicId
		width=80
		height=80
		crop='thumb'
		gravity='faces'
		notFoundImage='/images/not_found.png'
	}}
</template>

<template name="imgRoundedUserThumb">
	{{> cloudinaryImg
		publicId=publicId
		width=40
		height=40
		crop='thumb'
		gravity='face'
		notFoundImage='/images/unknown.png'
		class='rounded-user-thumb'
	}}
</template>

<template name="imgUserPodium">
	{{> cloudinaryImg
		publicId=publicId
		width=80
		height=80
		crop='thumb'
		gravity='face'
		notFoundImage='/images/unknown.png'
		class='rounded-user-thumb'
	}}
</template>