<template name="cloudinaryImg">
	{{#if publicId}}
		{{#if loadingImg}}
			<div style="width:{{sWidth}}px; height:{{sHeight}}px; line-height:{{sHeight}}px;" class="loading-block">
				<i class="fa fa-spinner fa-spin"></i>
			</div>
		{{/if}}
		
		
		<img src="{{c.url publicId width=width height=height crop=crop gravity=gravity}}" 
			class="cloudinary-image {{class}}" 
			style="{{#if loadingImg}}visibility:hidden; display:none;{{/if}}" 
			onerror="this.style.display='none';">
		
	
	{{else}}
		<img src="{{notFoundImage}}" 
			class="{{class}}" 
			style="width:{{width}}px; height:{{height}}px;">
	{{/if}}
</template>


<template name="userThumb">
	{{> cloudinaryImg publicId=publicId 
		notFoundImage="/images/unknown.png" 
		crop="thumb" 
		gravity="face"
		width=width
		height=height
		class="user-thumb"}}
</template>

<template name="userAvatar">
	<div class="avatar avatar-large avatar-circle">
		{{> cloudinaryImg 
		publicId=publicId 
		notFoundImage="/images/unknown.png"  
		crop="thumb" 
		gravity="face" 
		width="120" 
		height="120" 
		class="avatar-image"}}
	</div>
</template>


<template name="userPortrait">
	{{> cloudinaryImg 
		publicId=publicId 
		notFoundImage="/images/unknown.png" 
		crop="thumb" 
		gravity="face" 
		width="150" 
		height="150" 
		class="user-portrait"}}
</template>

<template name="fotoCover">
	{{> cloudinaryImg publicId=publicId 
		notFoundImage="/images/not_found.png" 
		class="foto-cover"
		sHeight='225'}}
</template>
