<template name="fotosPublicas">
	{{#contentFor "headerButtonLeft"}}
  		{{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}
	
	{{/contentFor}}


	{{#contentFor "headerTitle"}}
	  <h1 class="title">Fotos</h1>
	{{/contentFor}}

	{{#contentFor "tabs"}}
	    
	{{/contentFor}}

	
	{{#ionView}}
	  {{#ionContent}}	  		
		{{#swiper options=options1 id="fotos-publicas-item" class='swiper-normal'}}
			{{#each fotos}}
				{{#swiperSlide}}
					{{> fotosPublicasItem }}
				{{/swiperSlide}}
			{{/each}}
		{{/swiper}}
		{{#swiper options=options2 id="fotos-publicas-thumbs" class='swiper-thumbs thumb-opacity'}}
			{{#each fotos}}
				{{#swiperSlide}}
					{{> fotosPublicasThumb }}
				{{/swiperSlide}}
			{{/each}}
		{{/swiper}}


		{{#with fotoPublicaSelecionada}}
			{{> fotoPublicaDetails}}
		{{/with}}
		
	  {{/ionContent}}
	{{/ionView}}
</template>