<template name="userFotos">
	{{#contentFor "headerButtonLeft"}}
  		{{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor "headerButtonRight"}}

	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	  <h1 class="title">Fotos</h1>
	{{/contentFor}}

	{{#contentFor "tabs"}}
	    
	{{/contentFor}}

	
	{{#ionView}}
	  {{#ionContent}}	  		
		{{#swiper options=options1 id="user-fotos-item" class='swiper-normal'}}
			{{#each fotos}}
				{{#swiperSlide}}
					{{> userFotosItem }}
				{{/swiperSlide}}
			{{/each}}
		{{/swiper}}
		{{#swiper options=options2 id="user-fotos-thumbs" class='swiper-thumbs thumb-opacity'}}
			{{#each fotos}}
				{{#swiperSlide}}
					{{> userFotosThumb }}
				{{/swiperSlide}}
			{{/each}}
		{{/swiper}}


		{{> usersCadastrarFotos}}

		{{#with fotoSelecionada}}
			{{> userFotosDetails}}
		{{/with}}
	  {{/ionContent}}
	{{/ionView}}
</template>