<template name="user">
	{{#contentFor "headerButtonLeft"}}
	  {{>ionNavBackButton path="home" text="Voltar"}}
	{{/contentFor}}


	{{#contentFor "headerButtonRight"}}
		<a class="button button-clear" href="{{pathFor 'user.edit'}}">
	  		{{> ionIcon icon='edit'}}
	 	</a>
	{{/contentFor}}

	
	{{#contentFor "headerTitle"}}
	  <h1 class="title">Meu Perfil</h1>
	{{/contentFor}}

	{{#contentFor "tabs"}}
	    
	{{/contentFor}}

	{{#ionView}}
	  {{#ionContent}}
  		{{#with currentUser}}
		  	{{>userHeader}}
				
		  	<div class="row">
		  		<div class="col col-50">
					<a class="button button-positive button-block button-outline" href="{{pathFor 'user.perfis'}}">
						{{> ionIcon icon="ios-plus-empty"}} Perfis ({{countPerfis}})
				    </a>	
		  		</div>
		  		<div class="col col-50">
					<a class="button button-balanced button-block button-outline" href="{{pathFor 'user.fotos'}}">
						{{> ionIcon icon="ios-camera-outline"}} Fotos ({{countFotosPrivadas}})
				    </a>		
		  		</div>
		  	</div>				

				<div class="list">
				  <a class="item" href="#">
				    Nome Completo
				    <span class="item-note">
				      {{profile.nomeCompleto}}
				    </span>
				  </a>
				  <a class="item" href="#">
				    Nascimento
				    <span class="item-note">
				      {{nascimento}}
				    </span>
				  </a>
				  <a class="item" href="#">
				    Gênero
				    <span class="item-note">
				      {{formatarGenero profile.genero}}
				    </span>
				  </a>
				  <a class="item" href="#">
				    Email
				    <span class="item-note">
				      {{email}}
				    </span>
				  </a> 			  
				  <a class="item" href="#">
				    Celular
				    <span class="item-note">
				      {{profile.celular}}
				    </span>
				  </a>    
				</div>
	  	{{/with}}
	  {{/ionContent}}
	{{/ionView}}
</template>