.progress-bar {
  background-color: #e3e3e3;
  border-radius: 3px; /* (height of inner div) / 2 + padding */
  text-align:left;
  border:1px solid rgba(0,0,0,0.5);

	div {
	   height: 15px;
	   -webkit-transition: width 1s;
	   background-color:#33691e;
	}
}



.user-avatar{
	p{
		margin-bottom:0px;

		&.nome{
			font-weight:bold;
		}
		&.tipo-conexao{
			font-style:italic;
		}

		&.pendente{
			color: rgba(0,0,0,0.5);
		}

		&.amigos{
			color:green;
		}
	}
}