

.avatar {
  .avatar-image {
    width:120px;
    height:120px;
    border-radius:50%;
    border: 2px solid #fff;
  }

  .avatar-initials {
    border: 2px solid #fff;
    color: #fff;
  }
}

.profile-header::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}