<template name="geoBusca">	
	{{#contentFor "headerButtonLeft"}}
		{{>ionNavBackButton text="Voltar"}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	<a class="button button-clear" id="configurar-radar">
		{{> ionIcon icon='ios-settings-strong'}}
	</a>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}



		<div class="list">

			<!--
			<label class="item item-input ">
				<i class="icon ion-search placeholder-icon"></i>
				<input id="texto-busca" type="text" placeholder="Buscar p">
				  <button class="button button-clear button-primary" id="refresh-busca">
				    <i class="icon fa fa-refresh {{#if isLoading}}fa-spin{{/if}}"></i>
				  </button>				
			</label>
			-->
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input id="texto-busca" type="text" placeholder="Procurar">
			  <button class="button button-clear button-primary" id="refresh-busca">
			    <i class="icon fa fa-refresh {{#if isLoading}}fa-spin{{/if}}"></i>
			  </button>				
			</label>				
	
			{{#if $.Session.get 'configurarRadar'}}
			<div class="item range range-positive">
				<!--{{> ionIcon icon="arrow-shrink"}}-->
				{{raioMin}}km
				<input type="range" id="slider-raio" name="volume" min="{{raioMin}}" max="{{raioMax}}">
				{{divide raioMax 1000 0}}km
				<!--{{> ionIcon icon="arrow-expand"}}-->
			</div>		  	
			{{/if}}		  
		</div>


		<div class="list">


			{{#each resultados}}
				{{#if deveAparecer}}
				<a class="item item-avatar animated fadeIn user-add" href="#">

					{{>userThumb publicId=publicId}}

					<h2 class="animated fadeIn">{{{name}}}</h2>
					<p>{{> ionIcon icon="ios-location" class="geo-marker"}} {{divide distance 1000 1}}km</p>
				</a>
				{{/if}}			
			{{/each}}

		</div>
		{{/ionContent}}
	{{/ionView}}




</template>