<template name="album">
     <div class="album">
     	<div class="album-portrait">
            <div class="swiper-wrapper">
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            
        </div>

        <div class="album-thumbs">
            <div class="swiper-wrapper">
            </div>
        </div>
    </div>
</template>



<template name="album2">
     <div class="album">
        {{>swiperSimples params1}}
        {{>swiperSimples params2}}
    </div>
</template>